body {
    margin: 0;
    padding: 0;
}
.container-body {
    text-align: center;
    margin-top: 120px;
}
.group-photo {
    width: 40%; 
    display: block;
    margin: 0 auto;
}
.main-text {
    font-size: 42px;
    margin-top: 20px;
}

.main-text > .name{
    color: var(--kappel);
}
.main-para{
    font-size: 20px;
    display: flex;
    text-align: center;
    padding: 100px;
  /* margin-left: 200px;   */
  /* margin-right: 200px; */
  flex-direction: column;
  /* margin-bottom: 75px; */
}
.mission-vision{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    text-align: center;
}
.mission,
.vision {
    width: calc(70% - 80px); 
    margin: 0 55px; 
}
.mission .p{
    text-align:justify;
}

/* mission and vision text */
.section-text {
    font-size: var(--fs-5);
    text-align: center;
    margin-block: 15px 25px;
  }
  .about-item {
    margin-block: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .about-item ion-icon {
    color: var(--selective-yellow);
    font-size: 20px;
    --ionicon-stroke-width: 50px;
  }
  
  .about-item .span {
    color: var(--eerie-black-1);
    font-family: var(--ff-league_spartan);
  }

  .subHeading{
    /* color: var(--light_pink); */
    color: rgb(233, 55, 85);
}

@media (max-width: 575px) {
    .group-photo{
        width: 70%;
    }
    .main-text{
        font-size: 30px;
    }
    .tape-img{
        display: none;
    }
    .main-para{
        width: 80%;
        font-size: 15px;
        padding: 20px;
        display: inline;
        text-align: center;

    }
    .mission-vision{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1px;
    }
    .desc{
       
        width: 80%;
    }
    .mission,
.vision {

    width: calc(95% - 20px); 
    margin: 0 0px; 
}
.mission,.vision > p{
    text-align:center;
}
.mission,.vision > .desc{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
}