:root {
  --genius-red: rgb(233, 61, 61);
}

body {
  margin: 0;
  padding: 0;
}
.section {
  padding-block: 50px;
}
.galleryImg > img {
  width: 420px;
  height: auto;
  border-radius: 10px;
}
.galleryImg1>img {
  width: 420px;
  height: auto;
  border-radius: 10px;
}
.event-container {
  padding: 0px;
  gap: 20px;
}
.event-title {
  text-align: center;
  padding: 20px;
}

.event-title > .span {
  color: var(--genius-red);
}

.main-event-container {
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 5 students per row */
  gap: 10px; /* Adjust as needed */
}

.partyElement1 {
  width: 150px;
  margin-left: 200px;
  margin-top: 0px;
}
.partyElement2 {
  width: 150px;
  margin-right: 200px;
  /* margin-top: 50px; */
}
.event-head {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tag > h2 {
  text-align: center;
}
.actual {
  color: var(--genius-red);
}
.revolution {
  color: var(--kappel);
}

@keyframes slide{
  from{
      transform: translateX(0);
  }
  to{
      transform: translateX(-100%);
  }
}


.lightboxOverlay {
      background: rgba(0, 0, 0, 0.8) !important;
    }
    .lightbox .lb-close {
      position: absolute;
      top: 10px;
      right: 10px;
      background: transparent;
      border: none;
      color: white;
      font-size: 30px;
      cursor: pointer;
    }


/*-----------------------------------*\
    #MEDIA QUERIES
  \*-----------------------------------*/
/**
   * responsive for lesser than 575px screen
   */
@media (max-width: 575px) {
  .galleryImg > img {
    width: 300px;
    height: auto;
    animation: 7s slide alternate;
  }
  .galleryImg1>img{
    animation: 7s slide alternate-reverse;
  }
  .main-event-container {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    
  }
  .c1,
  .c2 {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 10px; /* Adjust as needed */
    overflow-x: scroll;
    
  }
  
  .main-event-container::-webkit-scrollbar {
    display: none;
  }

  .eve1{
    margin-left: 600px;
  }

  .partyElement1,
  .partyElement2 {
    width: 100px;
  }
}

/**
   * responsive for large than 575px screen
   */

@media (min-width: 575px) and (max-width: 768px) {
  /**
     * REUSED STYLE
     */
     .galleryImg > img {
      width: 300px;
      height: auto;
      animation: 7s slide alternate;
    }
    .galleryImg1>img{
      animation: 7s slide alternate-reverse;
    }
    .main-event-container {
      display: flex;
      flex-direction: row;
      overflow-x: scroll;
      
    }
    .eve1{
      margin-left: 600px;
    }
    .main-event-container::-webkit-scrollbar{
      display: none;
    }
    .c1,
    .c2 {
      align-items: center;
      justify-content: center;
      display: flex;
      gap: 10px; /* Adjust as needed */
      
    }
    .c1,
  .c2::-webkit-scrollbar{
    display: none;
    height: 0%;
  }
  .container {
    max-width: 520px;
    width: 100%;
    margin-inline: auto;
  }

  .partyElement1,
  .partyElement2 {
    width: 100px;
  }
}

/**
   * responsive for large than 768px screen
   */

@media (min-width: 768px) and (max-width: 992px){
  /**
     * CUSTOM PROPERTY
     */

  :root {
    /**
       * typography
       */

    --fs-1: 4.6rem;
    --fs-2: 3.8rem;
  }
  .galleryImg > img {
    width: 300px;
    height: auto;
    animation: 0s slide infinite alternate;
  }
  .galleryImg1>img{
    animation: 0s slide infinite alternate-reverse;
  }
  .main-event-container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .c1,
  .c2 {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 10px; /* Adjust as needed */
    
  }
  .c1,
  .c2::-webkit-scrollbar{
    display: none;
  }
  .partyElement1,
  .partyElement2 {
    width: 100px;
  }

  /**
     * REUSED STYLE
     */

  .container {
    max-width: 720px;
  }

  .btn {
    padding: 15px 30px;
  }

  :is(.course, .blog) .grid-list {
    grid-template-columns: 1fr 1fr;
  }
}

/**
   * responsive for large than 992px screen
   */

@media (min-width: 992px) {
  /**
     * CUSTOM PROPERTY
     */

  :root {
    /**
       * typography
       */

    --fs-1: 5.5rem;
    --fs-2: 4.5rem;
  }

  /**
     * REUSED STYLE
     */

  .container {
    max-width: 960px;
  }

  .grid-list {
    grid-template-columns: repeat(4, 1fr);
  }

  :is(.course, .blog) .grid-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

/**
   * responsive for large than 1200px screen
   */

@media (min-width: 1200px) {
  /**
     * CUSTOM PROPERTY
     */

  :root {
    /**
       * typography
       */

    --fs-1: 6.5rem;

    /**
       * spacing
       */

    --section-padding: 120px;
  }

  .galleryImg > img {
    width: 420px;
    height: auto;
    border-radius: 10px;
  }
  .event-container {
    padding: 0px;
    gap: 20px;
  }

  .main-event-container {
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 5 students per row */
    gap: 10px; /* Adjust as needed */
  }

  /**
     * REUSED STYLE
     */

  .container {
    max-width: 1185px;
  }

  .shape {
    display: block;
  }

  .about-content,
  .video-card,
  .blog {
    position: relative;
  }
}
