body {
  /* margin-top: 60px; */
  /* margin-bottom: 0px; */
}
.result-title {
  text-align: center;
  color: var(--kappel);
  font-size: larger;
  font-weight: 900;
  
}

.results {
  padding: 50px 0;
  padding-bottom: 0px;
}

.resultsPage{
    padding-top: 50px;
}

.rankers {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.MHTCET {
  display: flex;
  flex-direction: column;
}
.CET1 {
  padding: 50px 0px;
  display: flex;
  flex-direction: row;
  gap: 120px;
  justify-content: center;
  align-items: center;
}
.CET2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 100px;
}

.footer{
    margin-bottom: 0px;
}
/*-----------------------------------*\
    #MEDIA QUERIES
  \*-----------------------------------*/
/**
   * responsive for lesser than 575px screen
   */
@media (max-width: 575px) and (max-width: 575px){
    
  .CET1 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
  }
  .CET2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
  }
}

/**
   * responsive for large than 575px screen
   */
  
   @media (min-width: 575px) and (max-width: 768px){
       
  .CET1 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 35px;
  }
  .CET2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
  }
  
   }

   
  
  /**
   * responsive for large than 768px screen
   */
  
  @media (min-width: 768px) and (max-width: 992px) {
         
  .CET1 {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 45px;
  }
  .CET2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
  }
  
  }

  /**
   * responsive for large than 992px screen
   */
  
  @media (min-width: 992px) and (max-width: 1200px) {
         
    .CET1 {
      display: grid;
      grid-template-columns: repeat(4,1fr);
      gap: 60px;
    }
    .CET2{
      display: grid;
      grid-template-columns: repeat(4,1fr);
      gap: 50px;
    }
    
    }
