.school-list{
    display: flex;
    flex-direction: row;
}

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/
/**
 * responsive for lesser than 575px screen
 */
 @media (max-width: 575px) {
    .school-list{
        display: flex;
        flex-direction: column;
    }
    
}